# Ignore node_modules folder in the server directory
server/node_modules/

# Ignore the database file
server/employees.db

# Ignore environment files
server/.env
client/.env

# Ignore build artifacts and temporary files
client/dist/
client/node_modules/
*.log

# Ignore IDE specific files
.vscode/
.idea/
*.sw*

# Ignore OS-specific files
.DS_Store
Thumbs.db
