.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employee-list-container {
  margin-bottom: 20px;
  width: 50%;
  height: auto;
}

.add-employee-container {
  display: flex;
  justify-content: center;
  width: 50%;
  height: auto;
}

.add-employee-container button {
  width: 30%;
  height: 100%;
}
